.section-margin {
  margin-top: 1.5rem;
}

#modal {
  height: 100vh;
  overflow-y: hidden;
}

.filler {
  height: 116px;
  width: auto;
}

@media (max-width: 576px) {
  .filler {
    height: 56px;
  }

  h1 {
    font-size: 2.3rem !important;
  }
}
